body{
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
}

form{

   width: 30%;

}

fieldset{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 20px 60px;
}

button{
   margin-top: 30px;
   padding-top: 20px;
   max-width: 200px;
 

}

div{
   display: flex;
   justify-content: space-around;
}

#titulocombustivel{
   text-align: center;
}

#resultado{
   display: none;
}