body{
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form{

   width: 30%;

}

fieldset{
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 20px 60px;
}

button{
  padding-top: 10px;
  
}
button:hover{
   cursor: pointer;
   color: white;
   font-weight: 600;
   background-color: rgb(68, 67, 67);
}

div{
   display: flex;
   justify-content: space-around;
}

#titulocombustivel{
   text-align: center;
   font-size: 20px;
   font-weight: 800;
   
}

#resultado{
   display: none;
}


input{
   padding: 4px;
}